In [1]:
# Import Libraries
import pandas as pd
from sqlalchemy import inspect, text, MetaData
from db import engine

In [ ]:
# Check dialect & driver
print("Dialect:", engine.dialect.name)      
print("Driver:", engine.dialect.driver)

Dialect: mysql
Driver: mysqlconnector

In [3]:
# List all tables
inspector = inspect(engine)

print(inspector.get_table_names())

['olist_customers_dataset', 'olist_geolocation_dataset', 'olist_order_items_dataset', 'olist_order_payments_dataset', 'olist_order_reviews_dataset', 'olist_orders_dataset', 'olist_products_dataset', 'olist_sellers_dataset', 'product_category_name_translation']

In [4]:
# Get columns of a specific table
columns = inspector.get_columns("olist_customers_dataset")
for col in columns:
    print(col["name"], col["type"])

customer_id TEXT
customer_unique_id TEXT
customer_zip_code_prefix BIGINT
customer_city TEXT
customer_state TEXT

In [5]:
# Run Raw SQL Queries
with engine.connect() as conn:
    result = conn.execute(text("SELECT * FROM olist_customers_dataset LIMIT 5"))
    for row in result:
        print(row)

('06b8999e2fba1a1fbc88172c00ba8bc7', '861eff4711a542e4b93843c6dd7febb0', 14409, 'franca', 'SP')
('18955e83d337fd6b2def6b18a428ac77', '290c77bc529b7ac935b93aa66c333dc3', 9790, 'sao bernardo do campo', 'SP')
('4e7b3e00288586ebd08712fdd0374a03', '060e732b5b29e8181a18229c7b0b2b5e', 1151, 'sao paulo', 'SP')
('b2b6027bc5c5109e529d4dc6358b12c3', '259dac757896d24d7702b9acbbff3f3c', 8775, 'mogi das cruzes', 'SP')
('4f2d8ab171c80ec8364f7c12e35b23ad', '345ecd01c38d18a9036ed96c73b8d066', 13056, 'campinas', 'SP')

In [6]:
# Use Pandas for Quick Queries
df = pd.read_sql("SELECT * FROM olist_customers_dataset LIMIT 5", con=engine)
df

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [7]:
# Check Table Metadata

metadata = MetaData()
metadata.reflect(bind=engine)

customers = metadata.tables["olist_customers_dataset"]
customers.columns.keys()  # List of column names

['customer_id',
 'customer_unique_id',
 'customer_zip_code_prefix',
 'customer_city',
 'customer_state']